<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="/css/dashboard/styles.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/css/dashboard/bootstrap.min.css">
	<link href="/css/dashboard/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
	<link href="/css/dashboard/layout.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/css/dashboard/components.min.css">
	<link rel="stylesheet" href="/css/dashboard/colors.min.css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="/javascripts/core/libraries/jquery.min.js"></script>
	<script src="/javascripts/main/bootstrap.bundle.min.js"></script>
	<script src="/javascripts/plugins/loaders/blockui.min.js"></script>
	<script src="/javascripts/ui/ripple.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="javascripts/plugins/visualization/d3/d3.min.js"></script>
	<script src="javascripts/plugins/visualization/d3/d3_tooltip.js"></script>
	<script src="javascripts/plugins/forms/switchery.min.js"></script>
	<script src="javascripts/plugins/forms/bootstrap_multiselect.js"></script>
	<script src="javascripts/plugins/ui/moment/moment.min.js"></script>
	<script src="/javascripts/plugins/pickers/daterangepicker.js"></script>

	<!-- <script src="assets/js/app.js"></script> -->
	<!-- <script src="../../../../global_assets/js/demo_pages/dashboard.js"></script> -->
	<!-- /theme JS files -->

</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-expand-md navbar-dark bg-indigo">
		<div class="navbar-brand wmin-200">
			<a href="index.html" class="d-inline-block">
				<img src="../../../../global_assets/images/logo_light.png" alt="">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-mobile">
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page header -->
	<div class="page-header">
		<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
			<div class="d-flex">
				<div class="breadcrumb">
					<a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
					<span class="breadcrumb-item active">Dashboard</span>
				</div>

				<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
			</div>

			<div class="header-elements d-none">
				<div class="breadcrumb justify-content-center">
					<a href="#" class="breadcrumb-elements-item">
						<i class="icon-comment-discussion mr-2"></i>
						Support
					</a>

					
				</div>
			</div>
		</div>

		<div class="page-header-content header-elements-md-inline">
			<div class="page-title d-flex">
				<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span> - Dashboard</h4>
				<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
			</div>
		</div>
	</div>
	<!-- /page header -->
		

	<!-- Page content -->
	<div class="page-content pt-0">

		<!-- Main sidebar -->
		<div class="sidebar sidebar-light sidebar-main sidebar-expand-md align-self-start">

			<!-- Sidebar mobile toggler -->
			<div class="sidebar-mobile-toggler text-center">
				<a href="#" class="sidebar-mobile-main-toggle">
					<i class="icon-arrow-left8"></i>
				</a>
				<span class="font-weight-semibold">Main sidebar</span>
				<a href="#" class="sidebar-mobile-expand">
					<i class="icon-screen-full"></i>
					<i class="icon-screen-normal"></i>
				</a>
			</div>
			<!-- /sidebar mobile toggler -->


			<!-- Sidebar content -->
			<div class="sidebar-content">

				<!-- User menu -->
				<div class="sidebar-user-material">
					<div class="sidebar-user-material-body card-img-top">
						<div class="card-body text-center">
							<a href="#">
								<img src="/images/logo-social.png" class="img-fluid rounded-circle shadow-2 mb-3" width="80" height="80" alt="">
							</a>
							<h6 class="mb-0 text-white text-shadow-dark">Victoria Baker</h6>
							<span class="font-size-sm text-white text-shadow-dark">Santa Ana, CA</span>
						</div>
													
						<div class="sidebar-user-material-footer">
						</div>
					</div>
				</div>
				<!-- /user menu -->


				<!-- Navigation -->
				<div class="card card-sidebar-mobile">

					<div class="card-body p-0">
						<ul class="nav nav-sidebar" data-nav-type="accordion">

							<!-- Main -->
							<li class="nav-item">
								<a href="dashboard" class="nav-link active">
									<i class="icon-home4"></i>
									<span>
										Dashboard
										<span class="d-block font-weight-normal opacity-50">No active orders</span>
									</span>
								</a>
							<!-- /main -->

							
							<!-- /layout -->
								
						</ul>
					</div>
				</div>
				<!-- /navigation -->

			</div>
			<!-- /sidebar content -->
			
		</div>
		<!-- /main sidebar -->


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content">
				<!-- Dashboard content -->
				<div class="row">
					<div class="col-xl-8">

						<!-- Marketing campaigns -->
						<div class="card">
							
						

							<div class="table-responsive">
								<table class="table text-nowrap" border="1">
									<ui>
										<thead>
										<tr>
											<th>ID</th>
											<th>code</th>
											<th>machine_code</th>
											<th>Option</th>
										</tr>
										<% codes.forEach(item => { %>
											<tr>
												<td><%= item._id  %></td>
												<td><%= item.code  %></td>
												<td><%= item.machine_code %></td>
												<td><a class="delete primary " href="/delete-code/<%= item._id  %>">Delete Code</a></td>
											</tr>
										<% }) %>
										</thead>

									</ui>
								</table><div class="create-code primary ">
									<a href="/add-code">Create Code</a>
								</div>
							</div>
						</div>
						<!-- /marketing campaigns -->
					</div>
				</div>
				<!-- /dashboard content -->

			</div>
			<!-- /content area -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->


	<!-- Footer -->
	<div class="navbar navbar-expand-lg navbar-light">
		<div class="text-center d-lg-none w-100">
			<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
				<i class="icon-unfold mr-2"></i>
				Footer
			</button>
		</div>

		<div class="navbar-collapse collapse" id="navbar-footer">
			<span class="navbar-text">
				&copy; 2015 - 2018. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
			</span>

			<ul class="navbar-nav ml-lg-auto">
				<li class="nav-item"><a href="https://kopyov.ticksy.com/" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
				<li class="nav-item"><a href="http://demo.interface.club/limitless/docs/" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>
				<li class="nav-item"><a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov" class="navbar-nav-link font-weight-semibold"><span class="text-pink-400"><i class="icon-cart2 mr-2"></i> Purchase</span></a></li>
			</ul>
		</div>
	</div>
	<!-- /footer -->
		
</body>
</html>
